<h2> Your contacts </h2>

<ul>
  <% @contacts_array.each do |the_contact| %>
    <li>
      <%= link_to the_contact.name, contact_path(the_contact) %>
    </li>
  <% end %>
</ul>

<a href="/contacts/new">
  Add a new contact
</a>
